body {
    background-color: rgb(183, 183, 228);
    font-family: "Helvetica";
    font-size: 14px;
    line-height: 1.4;
    color:rgb(21, 17, 49);
}

h1 {
    text-align: center;
    border-bottom: 1px solid #b4b4b4;
}

h2 {
    color: #34495e;
    font-weight: normal;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.intro {
    font-size: 23px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
}

h3 {
    color: #34495e;
    font-weight: bold;
    font-size: 25px;
    margin-top: 2rem;
    background-color: #e9ecef;
    padding: 1rem;
    border-radius: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10%;
    border: 1px solid #555;
}